name: CI

on:
  push: 
    branches: [ master ] 
    
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [8, 17]
      fail-fast: true     
    
    name: Test JDK ${{ matrix.java }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    
    steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up JDK ${{ matrix.java }}
          uses: actions/setup-java@v3
          with:                    
            java-version: ${{ matrix.java }}
            distribution: 'temurin'
            cache: 'maven'
        
        - name: Run tests
          run: mvn test
